* {
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
.btn {
    color: pink;
    font-weight: 500;
}

h2 {
    color: blue;
=======
h2 {
    font-size: 30px;
    color: green;
>>>>>>> reg
    font-weight: 700;
}